<div class="container mt-5">
    <h2 class="text-center mb-4">Hábitos Insalubres</h2>
     <!-- Contenedor de la imagen animada -->
  <div class="image-wrapper mb-4">
    <img src="/images/prohibido.jpg" class="card-img-top animated-image" alt="Imagen prohibida">
  </div>
  
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-4">
       
        <div class="card shadow">
          <img src="/images/comidaRapida.jpg" class="card-img-top" alt="Hábitos insalubres">
          <div class="card-body">
            <h5 class="card-title">Comer en exceso</h5>
            <p class="card-text">Consumir grandes cantidades de comida, especialmente alimentos procesados, puede ser perjudicial para tu salud.</p>
            <a href="#" class="btn btn-danger ">Más Información</a>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <img src="/images/sedentarismo.jpg" class="card-img-top" alt="Falta de ejercicio">
          <div class="card-body">
            <h5 class="card-title">Falta de ejercicio</h5>
            <p class="card-text">La inactividad física puede afectar tu bienestar, aumentando el riesgo de enfermedades crónicas.</p>
            <a href="#" class="btn btn-danger">Más Información</a>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <img src="/images/faltaSueño.jpg" class="card-img-top" alt="Dormir mal">
          <div class="card-body">
            <h5 class="card-title">Dormir mal</h5>
            <p class="card-text">El no dormir lo suficiente o tener una mala calidad de sueño puede afectar gravemente tu salud física y mental.</p>
            <a href="#" class="btn btn-danger">Más Información</a>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <img src="/images/excesoAlcohol.jpg" class="card-img-top" alt="Exceso de alcohol">
          <div class="card-body">
            <h5 class="card-title">Exceso de alcohol</h5>
            <p class="card-text">Consumir alcohol en exceso puede dañar tu cuerpo y aumentar el riesgo de enfermedades hepáticas, cardíacas y más.</p>
            <a href="#" class="btn btn-danger">Más Información</a>
          </div>
        </div>
      </div>

      <div class=" card T shadow card-video-wrapper">
        <h5 class="card-title">Mira nuestro video sobre prevención del tabaquismo</h5>
        <video class="animated-video" controls>
          <source src="images/Presentacion_tabaco.mp4" type="video/mp4">
          Tu navegador no soporta el formato de video.
        </video>
    </div>
  </div>