<div class="container mt-5 about">
  <h2 class="text-center section-title mb-4">Sobre Nosotros</h2>

  <div class="row justify-content-center">
    <!-- Tarjeta Sobre Nosotros -->
    <div class="col-12 col-md-8">
      <div class="card shadow-lg">
        <!-- Imagen Animada -->
        <div class="card-img-top-wrapper mt-5">
          <img src="images/logo-hal.png" alt="Imagen sobre salud y sostenibilidad" class="animated-image">
        </div>

        <div class="card-body">
          <h5 class="card-title">Compromiso con la Salud y la Sostenibilidad</h5>
          <p class="card-text">
            En <strong>HAL</strong>, creemos que la salud y la sostenibilidad van de la mano. Nuestro propósito es
            inspirar y proporcionar herramientas para un estilo de vida más saludable, en armonía con el planeta.
          </p>
          <p class="card-text">
            Somos un equipo comprometido con la creación de contenido, recursos y soluciones que fomenten el bienestar
            integral, desde la alimentación consciente hasta prácticas sostenibles en el día a día. Creemos en el poder
            de la educación y la acción para generar un impacto positivo en nuestra comunidad y en el mundo.
          </p>
          <p class="card-text">
            A través de nuestra plataforma, queremos ayudarte a tomar decisiones informadas para cuidar tu salud sin
            comprometer el equilibrio natural del entorno. ¡Únete a nuestra comunidad y hagamos un cambio positivo juntos!
          </p>
          <a href="/quiz" class="btn btn-primary">Cuídate!!</a>
        </div>
      </div>
    </div>
  </div>
</div>
