<nav class="navbar navbar-expand-xxl fixed-top py-3">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="/"><img class="logo" src="images/logo-hal.png" alt="Logo"></a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img class="logo" src="images/logo-hal.png" alt="Logo">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-lg-2" aria-current="page" href="/" [class.active]="esRutaActiva('/')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/graficos" [class.active]="esRutaActiva('/graficos')">Gráficos estadísticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/hSaludables" [class.active]="esRutaActiva('/hSaludables')">Hábitos saludables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/hInsalubres" [class.active]="esRutaActiva('/hInsalubres')">Hábitos insalubres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#" [class.active]="esRutaActiva('/prueba')">Estilos de vida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/quiz" [class.active]="esRutaActiva('/quiz')">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#" [class.active]="esRutaActiva('/prueba')">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/sobreNosotros" [class.active]="esRutaActiva('/sobreNosotros')">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    <a href="#" class="login-button">Login</a>
    -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>