<section class="banner">
    <div class="video-container">
      <video autoplay loop muted playsinline class="banner-video">
        <source src="video.mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
      </video>
    </div>
  </section>
  
 
  <section class="gallery">
    <div class="image-slider">
      <img src="/images/imagen1.jpg" alt="Imagen 1" class="slide active">
      <img src="/images/imagen2.jpg" alt="Imagen 2" class="slide">
      <img src="/images/imagen3.jpg" alt="Imagen 3" class="slide">
      <img src="/images/imagen4.jpg" alt="Imagen 4" class="slide">
    </div>
  </section>
