
<div class="container mt-5">
    <h2 class="text-center mb-4">Accede a nuestra secciones</h2>

    <div class="row justify-content-center">
      <!-- Gráficos Estadísticos -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card shadow">
          <img src="images/graficos.jpg" class="card-img-top" alt="Gráficos estadísticos">
          <div class="card-body">
            <h5 class="card-title">Gráficos estadísticos</h5>
            <p class="card-text">Explora gráficos interactivos con datos inventados a nivel autonómico.</p>
            <a href="http://localhost:4200/graficos"  class="btn btn-primary" >Ver Gráfico</a>
          </div>
        </div>
      </div>

      <!-- Hábitos Saludables -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card shadow">
          <img src="/images/habitosSaludables.jpg" class="card-img-top" alt="Hábitos saludables">
          <div class="card-body">
            <h5 class="card-title">Hábitos saludables</h5>
            <p class="card-text">Descubre hábitos saludables que puedes incorporar a tu vida diaria para mejorar tu bienestar.</p>
            <a href="#" class="btn btn-success">Ver Hábitos</a>
          </div>
        </div>
      </div>

      <!-- Hábitos Insalubres -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card shadow">
          <img src="/images/habitosInsalubres.jpg" class="card-img-top" alt="Hábitos insalubres">
          <div class="card-body">
            <h5 class="card-title">Hábitos insalubres</h5>
            <p class="card-text">Infórmate sobre los hábitos que pueden afectar tu salud y cómo evitarlos.</p>
            <a href="http://localhost:4200/hInsalubres" class="btn btn-danger">Ver Hábitos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Estilos de Vida -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <img src="/images/estilosVida.avif" class="card-img-top" alt="Estilos de vida">
          <div class="card-body">
            <h5 class="card-title">Estilos de vida</h5>
            <p class="card-text">Conoce cómo tu estilo de vida influye en tu salud física y mental.</p>
            <a href="/estilosVida" class="estilos btn btn-info">Ver Estilos</a>
          </div>
        </div>
      </div>

      <!-- Quiz -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow">
          <img src="/images/quiz.jpg" class="card-img-top" alt="Quiz">
          <div class="card-body">
            <h5 class="card-title">Quiz</h5>
            <p class="card-text">Participa en un quiz para medir tus conocimientos sobre hábitos saludables.</p>
            <a href="http://localhost:4200/quiz" class="btn btn-warning">Hacer Quiz</a>
          </div>
        </div>
      </div>
    </div>
</div>

