<div class="container mt-5">
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <p class="fs-5 p-4 bg-light custom-border-1 shadow-lg custom-shadow">
          La salud es un <b>estado</b> de completo <b>bienestar físico, mental y social</b>, y no solo la ausencia de enfermedades o afecciones. Este concepto integral abarca diversos aspectos de la <b>vida diaria</b> y <b>promueve un equilibrio entre el cuerpo, la mente y el entorno.</b>
          <a href="https://www.cun.es/diccionario-medico/terminos/salud" target="_blank">Leer más</a>
        </p>
      </div>
      <div class="col-md-6">
        <div class="image-container custom-border-2 custom-shadow p-3">
          <img src="/images/saludDefinicion.png" alt="Definición de Salud" class="img-fluid mb-3">
          <img src="/images/nutriaNutriologa.png" alt="Nutria Nutrióloga" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <p class="fs-5 p-4 bg-light custom-border-2 shadow-lg custom-shadow">
          Las características principales de la salud incluyen <b>equilibrio emocional, vitalidad física, adaptabilidad al estrés, relaciones sociales saludables y una nutrición adecuada</b>. Estos factores <b>contribuyen a un estilo de vida sostenible y pleno.</b>
          <a href="https://www.cun.es/diccionario-medico/terminos/salud" target="_blank">Leer más</a>
        </p>
      </div>
      <div class="col-md-6 order-md-1">
        <div class="image-container custom-border-1 custom-shadow p-3">
          <img src="/images/caracteristicasSalud.png" alt="Características de la Salud" class="img-fluid">
          <img src="/images/cerebroFuerte.png" alt="Cerebro Ejercitado" class="img-fluid">
        </div>
      </div>
    </div>
</div>